* {
    margin: 0%;
    padding: 0%;
}

.header {
    background-color: transparent
    cornflowerblue
}

.container-sets{
    display: block;
    margin-left: 100px;
    justify-content: space-around;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.pie-de-pag {
    background-color: #fcd1c6;
    padding-top: 20px;
    padding-bottom: 50px;
}

.row-facilitadores {
    padding-top: 30px;
}

.redes {
    display: flex;
    justify-content: space-around;
    background-color: #fcd1c6;
    color: white;
}


/*ICONO DE WPP EN SCROLL A LA DERECHA*/
.item-fixed {
    position: fixed;
    bottom: 10px;
    right: 0px;
}

h6 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    }
    