* {
    margin: 0%;
    padding: 0%;
}

@media only screen and (max-width:400px) {
    body {
        background-color: #fff;
    }
}
/*desktop*/
@media only screen and (min-width: 992px) {
    body {
        background-color: #fff
    }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 968px){
    body {
        background-color: #fff;
    }
}

.header {
    background-color: transparent
}
.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.subtitle {
    font-style: italic;
    display: flex;
    justify-content: center;
}
.section-advertising {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
}


.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: black;
    font-size: medium;
    background-color: rgb(255, 255, 255);
}
.productos {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 50px;
    padding-top: 50px;
}
.col {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    column-gap: 10%;
    row-gap: 20px;
}



.instafeed-title {
    position: relative;
    top: 0%;
    left: auto;
    color: black;
    font-size: 230%;
    font-style:normal;

}








/*facilitadores*/
.main-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #fff;
}
/*Fin facilitadores*/

/*ICONO DE WPP EN SCROLL A LA DERECHA*/
.item-fixed {
    position: fixed;
    bottom: 10px;
    right: 0px;
}
.pie-de-pag {
    background-color: #fcd1c6;
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.container-footer {
    background-color: #fcd1c6;
}
.insta {
    background-color: #fff;
}
.redes {
    position: relative;
    padding-right: 10%;
    display: grid;
    grid-template-rows: 60px;
    display: flex;
    justify-content: center;
}


.footer.second.row {
    padding-left: 8%;
    width: 31%;
}

